<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head" >
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
<nav th:insert="partials/partials :: navbar"></nav>

<form class="container " id="create-post" th:method="POST" th:action="@{/posts/create}" th:object="${post}">
  <h1 class="text-center">Create a new Post</h1>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input th:field="*{title}" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Body</label>
    <textarea th:field="*{body}" class="form-control" rows="3"></textarea>
  </div>
  <input th:type="hidden" th:field="*{id}">
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<footer th:insert="partials/partials :: footer"></footer>
<div th:insert="partials/partials :: bootstrapJs"></div>
</body>
</html>