<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head" >
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>
<nav th:insert="partials/partials :: navbar"></nav>

<div class="row mb-2 ">
  <div class="col" id="createPage">
  </div>

  <div class="col mt-2">
    <form class="container " id="create-post" th:method="POST" th:action="@{/posts/create}" th:object="${post}">
      <h2 class="text-center">Create a new Post</h2>
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input th:field="*{title}" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Body</label>
        <textarea th:field="*{body}" class="form-control" rows="3"></textarea>
      </div>
      <input th:type="hidden" th:field="*{id}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit" class="btn ">Create</button>
    </form>
  </div>
</div>
<footer th:insert="partials/partials :: footer"></footer>
<div th:insert="partials/partials :: bootstrapJs"></div>
</body>
</html>