<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/partials :: head" >
    <title>Show post</title>
</head>
<body>
<nav th:insert="partials/partials :: navbar"></nav>

<!--single post goes here-->
<div class="container text-center">
    <h1>Your Post</h1>
    <h3>Title</h3>
    <p><span th:text="${title}">Title of post goes here</span></p>

    <h3>Body</h3>
    <p><span th:text="${body}">Body of post goes here</span></p>
</div>
<footer th:insert="partials/partials :: footer"></footer>
<div th:insert="partials/partials :: bootstrapJs"></div>
</body>
</html>