<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/partials :: head" >
    <title>Home</title>
</head>
<body class="background">
    <nav th:insert="partials/partials :: navbar"></nav>


    <h1 class="text-center p-5">Welcome to the Blog Post Application!</h1>

<!--    <img class="bg-image" src="/static/img/succulent_background.jpg" height="100vh" width="100vh">-->



    <footer th:insert="partials/partials :: footer"></footer>
    <div th:insert="partials/partials :: bootstrapJs"></div>
</body>
</html>